body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("http://getwallpapers.com/wallpaper/full/e/1/a/1334821-free-best-4k-wallpapers-3840x2160-for-iphone-7.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }